<h2><%= @restaurant.name %></h2>
<p>
  <%= @restaurant.category %><br>
  <%= @restaurant.address %> | <%= @restaurant.phone_number %><br>
</p>
<h3>
  Comments:
</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %><br>
      <% review.rating.times do %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      <br>
      --
    </li>
  <% end %>
</ul>
<hr>
<h4>Your comment:</h4>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :radio_buttons, collection: (0..5) %>
  <%= f.button :submit %>
<% end %>
<hr>
<p>
  <%= link_to "Restaurants list", restaurants_path %>
</p>

